*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}
.navbar {

    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    height: 104px;
    background-color: #232323;
}
nav .left {
    font-family: 'Square Peg', sans-serif;
    font-size: 60px;
    margin-left: 81px;
    color: white;
}
nav .right {
    font-size: 16px;
    margin-left: 495px;
}
nav ul {
    display: flex;
    justify-content: center;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: white;
    margin: 35px;
}
nav ul li a:hover {
    color: rgb(223, 52, 52);
    font-size: 1.05rem;
}
.containerone {
    height: 330px;
    background-color: #7A7A7A;
}
.containerone .firsthead {
    align-items: center;
    font-family: 'Poppins', sans-serif;
    line-height: 200px;
    text-align: center;
}
.containerone .fir {
    font-size: 40px;
    color: #FFFFFF;
    font-weight: bold;
}
.containerone .sec {
    margin-left: 8px;
    font-size: 40px;
    color: #FA4753;
    font-weight: bold;
}
.containerone .buynow {
    margin-top: 4px;
    margin-left: 657px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    width: 120px;
    height: 50px;
    border-radius: 25px;
    color: white;
    background-color: #0D0808;
    
}
.containerone .buynow:hover{
    color: rgb(255, 0, 0);
    background-color: #0D0808;
}
.containerone .secondhead {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.containertwo{
    background-color: #D9D9D9;
}
.containertwo img{
   width: 1427px;
   height: 412px;
}
.whyus {
    position: absolute;
    top: 440px;
    left: 4px;
    font-size: 30px;
    color: black; 
    font-weight: 900;
    margin-top: 60px;
    margin-left: 590px;
}
.container_a{
    position: absolute;
    top: 600px;
    left: 1px;
}
.reasons ul {
    display: flex;
}
.reasons ul li {
    padding: 3px;
    margin: 10px 210px;
    list-style: none;
}
.firstpoints ul { 
    display: flex;
}
.firstpoints ul li {
    text-align: center;
    font-weight: bold;
    padding: 3px;
    margin: 0 150px;
    list-style: none;
}
.explanation ul {
    display: flex;
}
.explanation ul li {
    text-align: center;
    color: #000000;
    margin: 10px 120px;
    margin-left: 145px;
    list-style: none;
}

.containerthree {
    height: 900px;
    background-color: #D9D9D9;
}
.sale ul{
    display: flex;
    margin-bottom: 5px;
}
.sale ul li{
    list-style: none;
}
.seventy{
    
    font-weight: bold;
    height: 30px;
    color: #D9D9D9;
    background-color: #FA4753;
    margin-left: 50px;
}
.viewmore{
    margin-left: 1110px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    width: 110px;
    height: 40px;
    border-radius: 25px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.viewmore:hover{
    background-color:#FA4753;
    color: #000000;
    width: 111px;
    height: 41px;

}
.h1{
    margin-left: 50px;
    font-size: 25px;
    color: black;
    font-weight: bolder;
}
.pictures ul{
    display: flex;
}
.pictures ul li{
    list-style: none;
    margin-left: 50px;
}
.productname ul{
    justify-content: right;
    display: flex;
}
.productname ul li{
    margin-right: 249px;
    margin-bottom: 1px;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
}
.productprice ul{
    display: flex;
}
.price ul{
    display: flex;
}
.price ul li{
    color: #FA4753;
    font-size: 20px;
    margin-left: 310px;
    margin-bottom: 5px;
    font-weight: bold;
    list-style: none;
}
.productprice ul li {
    color: #FA4753;
    font-size: 20px;
    margin-left: 235px;
    margin-bottom: 30px;
    font-weight: bold;
    list-style: none;
}
.productprice .addto{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    width: 110px;
    height: 40px;
    border-radius: 25px;
    color: white;
    background-color: #FA4753;
}

.footerr {
    height: 410px;
    background-color: #232323;
}
.footerr .firstline {
    display: flex;
    line-height: 160px;
    font-size: 20px;
    justify-content: center;
    list-style: none;
    color: white;
    font-weight: 400px;
}
.copyright {
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 200px;
    margin-left: 579px;
}
.containerthree .products {
    color: rgb(0, 0, 0);
    margin-left: 650px;
    font-weight: bolder;
    line-height: 200px;
    font-size: 30px;
}
.footerr .firstline li {
    margin: 0px 35px;
}
.socialaccounts ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialaccounts ul li{
    list-style: none;
    margin: 0px 35px;
    font-size: 2rem;
    color: #FFFFFF;
}


